flask
requests
langchain>=0.2.0
langchain-community
langchain-core
langchain-huggingface
langchain-text-splitters
langchain-ollama
pypdf
sentence-transformers
faiss-cpu
fpdf
ollama
scikit-learn
nltk
openai
gtts
websockets
vosk
sounddevice
soundfile
wavio
pyspellchecker